.main {
  display: flex;
  align-items: flex-start;
  /* gap: 15px; */
 
}

.main .right {
  padding: 15px;
  width: 100%;
  max-height: 100vh;
  padding-left: 21%;
}

.recent {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.heading {
  font-weight: bold;
  font-size: 120%;
}

.cards {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  overflow-x: scroll;
 
}

.cards::-webkit-scrollbar {
  height: 0;
}

@media (max-width: 960px) {
  .main .right {
    padding-left: 25.5%;
  }
}

@media (max-width: 760px) {
  .main .right {
    padding-left: 11.5%;
  }
}
